<div  class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullwidth">Cadastrar Pessoa</h1>
        <img class="fullwidth" src="assets/img/tecnico-create.svg" alt="">

        <section class="section">
            <mat-checkbox class="margin">Admin</mat-checkbox>
            <mat-checkbox class="margin">Lider</mat-checkbox>
            <mat-checkbox class="margin">Funcionario</mat-checkbox>
        </section>

        <p>
            <mat-form-field class="fullwidth" appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Ex. Roberto Silva">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="fullwidth" appearance="fill">
              <mat-label>CPF</mat-label>
              <input matInput placeholder="Ex. 000.000.000-00">
              <mat-icon matSuffix>pin</mat-icon>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="fullwidth" appearance="fill">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="Ex. roberto@gmail.com">
              <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="fullwidth" appearance="fill">
              <mat-label>Senha</mat-label>
              <input type="password" matInput placeholder="Ex. 1234">
              <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
          </p>

          <button class="fullwidth mat-elevation-z8" mat-flat-button color="primary">Cadastrar</button>
          <button class="fullwidth mat-elevation-z8" mat-stroked-button color="primary">Cancelar</button>
    </form>
</div>
