<mat-card class="card mat-elevation-z8" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Escala</mat-card-title>
      <mat-card-subtitle>Configure seu dia</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Image home helpdesk">
    <mat-card-content>
      <p> Olá! Seja bem-vindo ao sistema de organização de escalas, desenvolvido por mim para auxiliar equipes de segurança.
        <br> Este site foi criado para facilitar o planejamento e a gestão de turnos, permitindo uma alocação eficiente dos 
        membros da equipe em diferentes horários e atividades. <br> O sistema tem como objetivo otimizar a rotina, garantindo 
        que a equipe esteja sempre bem organizada e com suas escalas devidamente distribuídas.<br> O projeto aborda conceitos de 
        gestão de equipes e organização de rotinas, com foco na simplicidade e funcionalidade. O código-fonte pode ser acessado 
        clicando no link do GitHub no menu.<br><br> Fique à vontade para testar o sistema e compartilhar suas sugestões.</p>
    </mat-card-content>
  </mat-card>
