<div class="container mat-elevation-z8">
    <form class="form">
      <h1 class="fullwidth">Deletar Pessoa</h1>
      <img class="fullwidth" src="assets/img/tecnico-create.svg" alt="">
  
      <section class="section">
        <mat-checkbox [disabled]="true" class="margin" color="primary">Admin</mat-checkbox>
        <mat-checkbox [disabled]="true"  class="margin" color="primary">Lider</mat-checkbox>
        <mat-checkbox [disabled]="true"  class="margin" color="primary">Funcionario</mat-checkbox>
      </section>
  
      <p>
        <mat-form-field class="fullwidth" appearance="fill">
          <mat-label>Nome</mat-label>
          <input [(ngModel)]="pessoa.nome" name="nome" matInput [disabled]="true">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field class="fullwidth" appearance="fill">
          <mat-label>CPF</mat-label>
          <input [(ngModel)]="pessoa.cpf" name="cpf" matInput [disabled]="true">
          <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field class="fullwidth" appearance="fill">
          <mat-label>Equipe</mat-label>
          <input [(ngModel)]="pessoa.idEquipe" name="idEquipe" matInput [disabled]="true">
          <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field class="fullwidth" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input [(ngModel)]="pessoa.email" name="email" matInput [disabled]="true">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field class="fullwidth" appearance="fill">
          <mat-label>Senha</mat-label>
          <input [(ngModel)]="pessoa.senha" name="senha" type="password" matInput [disabled]="true">
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
      </p>
  
      <button (click)="delete()" class="fullwidth mat-elevation-z8" mat-flat-button
        color="primary">Deletar</button>
      <button routerLink="../../" class="fullwidth mat-elevation-z8" mat-stroked-button color="primary">Cancelar</button>
    </form>
  </div>